<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dashboard-My profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dash.css">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-3 sidebar">
                <h2>Dashboard</h2>
                <a href="#">My Profile</a>
                <a href="/bookings/<%= user._id %>">Bookings</a>
                <a href="/auth/myposts/<%= user._id %>" class="active">My Posts</a>
                <a href="/book-event/<%= user._id %>" class="active">Booked Event</a>
                <a href="/home">Home</a>

            </nav>
           
            <!-- Main content area -->
            <main class=" content d-flex align-items-center flex-column ">
                <h6>My Profile</h6>
                <div class="card d-flex align-items-center" style="width: 18rem;">
                    
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= user.name %>
                        </h5>
                        <p class="card-text">
                            <%= user.email %>
                        </p>
                        <p class="card-text">
                            <%= user.phoneno %>
                        </p>

                        <p class="card-text">
                            <%= user.state %>
                        </p>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>